.site-footer {
  margin: 0 0 0 230px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  width: calc(100% - 230px);
  transition: all 0.3s ease-out;
  background: $footer-background;
  padding: 10px 0;
  font-size: 14px;
  min-width: 1000px;

  &.active {
    width: 100%;
    margin-left: 0;
  }
}

.c-account {
  position: absolute;
  right: 4%;
  width: 230px;

  .text {
    text-align: left;
    line-height: 40px;
    border-top: 1px solid white;
    display: block;

    .main-span {
      min-width: 71px;
      display: inline-block;
    }
  }
}

.c-info {
  float: left;
  bottom: 0;
  display: block;

  a {
    color: white;

    &:visited {
      color: white;
    }
  }

  .area-info {
    position: relative;
    bottom: 0;
    margin: 0;
    padding: 0;
    text-align: left;
    min-width: 1000px;

    ul {
      margin-left: 30px;
    }

    .list-info > li {
      display: inline-block;
      margin-top: 5px;
      margin-bottom: 8px;
      letter-spacing: -0.8px;
      line-height: 28px;
    }

    li::after {
      display: inline-block;
      width: 2px;
      height: 12px;
      margin: 8px 8px 0 6px;
      background-color: white;
      vertical-align: top;
      content: '';
    }
  }
}
