@import '../_global';
@import './_footer';

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

li,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 30px;
  font-size: 15px;
  color: white;
  text-align: center;
}

nav {
  padding: 5px;
}

button {
  text-transform: uppercase;
  outline: 0;
  background: $mind-blue-dark;
  width: 150px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;

  &:hover {
    background: $mind-blue;
  }

  &:active {
    text-shadow: 0 1px 0 white;
    background: $mind-blue-light;
    transform: translateY(2px);
  }
}

.line-div {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: solid white 2px;
  width: 100%;
  text-align: center;
}

header {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 25px;
  padding: 15px 15px 15px 50px;
  text-align: left;
  background: $header-background;
  color: white;
  min-width: 935px;
}

.sideMenu {
  display: block;
  height: 100%;
  padding: 15px 15px 19px;
  position: fixed;
  width: 200px;
  background-color: $sideMenu-background;
  color: $letter-grey;
  font-weight: bold;
  left: 0;
  transition: left 0.3s ease-out;
  z-index: 3;

  &.active {
    float: left;
    left: -230px;
    box-shadow: none;
  }

  .mark {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    cursor: pointer;
  }

  a {
    display: block;
    text-decoration: none;
    color: $letter-grey;
  }

  ul {
    line-height: 50px;

    .subMenu {
      display: none;
      margin-top: -10px;
    }

    a:hover {
      color: rgba(255, 255, 255, 0.93);
    }

    a:active {
      text-shadow: 0 0.5px 0 white;
    }

    li {
      list-style: none;
      margin-left: 15px;
      line-height: 40px;
    }
  }

  .logout-button {
    display: block;
    position: absolute;
    bottom: 70px;
    left: 35px;
  }

  .fold-button {
    width: 25px;
    height: 50px;
    border-radius: 0 50px 50px 0;
    background-color: $sideMenu-background;
    transform: none;
    position: absolute;
    bottom: 50%;
    left: 205px;
    padding-left: 3px;
    transition: 0.3s ease-out;

    &.active {
      position: absolute;
      bottom: 50%;
      left: 230px;
    }
  }
}

.content {
  //height: 100%;
  //float: left;
  margin: 0 auto;
  //width: calc(100% - 230px);
  width: auto;
  padding-left: 230px;
  transition: all 0.3s ease-out;
  position: relative;
  min-height: 100%;
  min-width: 975px;

  &.active {
    //float: left;
    width: auto;
    padding-left: 0;
    min-width: 975px;
  }

  .basic-table {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    width: 80%;
    margin: 30px auto;

    thead th {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      color: white;
      border-bottom: 3px solid #036;
      background: $thead-background;
    }

    th {
      width: 150px;
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: $th-background;
    }

    td {
      width: 350px;
      padding: 5px;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
    }
  }

  .input-table {
    margin: 30px auto;
    text-align: center;
    border-spacing: 10px;

    p {
      font-weight: bold;
    }

    input {
      margin: 5px;
      padding: 10px;
      width: 250px;
    }
  }

  .chk-container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Hide the browser's default checkbox */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      width: 0.1px;
      height: 0.1px;
    }
    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -12.5px;
      margin-top: 5%;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 10px;
    }
    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
      background-color: #ccc;
    }
    /* When the checkbox is checked, add a blue background */
    input:checked ~ .checkmark {
      background-color: #2196F3;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
      display: block;
    }
    /* Style the checkmark/indicator */
    .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-radius: 10px;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
