@import './_global_main';

.sideMenu {
  .info-a {
    .subMenu {
      display: block;

      .info-change {
        display: block;
        text-decoration: none;
        color: $mind-blue;
      }
    }
  }
}

.content {
  text-align: center;

  button {
    margin: 30px auto;
    display: inline;
  }

  .authcheck-table {
    margin: 0 auto;
    padding: 10px;
    border: 2px solid $mind-blue;
    border-radius: 10px;
    border-spacing: 10px;
    align: center;

    tr {
      align: left;

      td:nth-child(odd) {
        font-weight: bold;
        color: $mind-blue;
      }
    }
  }
}
