@import './_global_main';

.sideMenu {
  .checkup-a {
    display: block;
    text-decoration: none;
    color: $mind-blue;
  }
}

body,
html {
  width: 100%;
  height: 100%;
}

.content {
  input[type="number"] {
    text-align: right;
  }

  .check-request {
    height: 100%;

    p {
      text-align: center;
      margin: 15px 0;
    }

    table {
      margin: 0 auto auto 0;

      th {
        width: 120px;
      }
    }

    button {
      margin-top: 30px;
      margin-bottom: 200px;
    }

    .file-upload,
    .request-content-company,
    .request-content-personal {
      display: none;
    }

    .request-content-company,
    .request-content-personal {
      table {
        margin: 0 auto;
      }
    }

    .request-content-personal {
      .checkup-explain {
        border: 2px solid $mind-blue;
        border-radius: 10px;
        text-align: left;
        padding: 15px;
        margin: 30px auto;
        display: block;
        width: 500px;
      }
    }

    .request-content-company {
      text-align: center;
      display: none;
      width: 100%;
      padding-bottom: 140px;

      .basic-table .checkmark {
        margin-top: 0;
      }

      .bottom-container,
      .top-container {
        margin: 0 auto;
        display: block;
        width: 90%;
      }

      .top-container {
        display: inline-flex;
        height: 70vh;

        .left-container {
          width: 45%;
          border-radius: 10px;
          background-color: $input-background;
          box-sizing: border-box;

          .search-container {
            display: inline-flex;
            width: 80%;
            height: 8%;
            margin: 5% auto;

            input {
              &[name=query] {
                width: 70%;
                text-align: right;
                padding-right: 10px;
              }
            }

            button {
              margin: 0;
              width: 100px;
              padding: 10px;
              border-radius: 0;
              background-color: $mind-green;

              &:hover {
                background-color: $mind-green-dark;
              }

              &:active {
                transform: none;
              }
            }
          }

          .table-container {
            margin: 0 auto;
            width: 80%;
            height: 75%;
            background-color: white;

            .basic-table {
              width: 100%;

              .all-check {
                width: 20%;
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
              }
            }
          }
        }

        .middle-container {
          width: 10%;
          margin: auto;

          button {
            margin: 0 auto;
            width: 60%;
            min-width: 70px;
          }

          img {
            margin: 0 auto;
            width: 80%;
            min-width: 90px;
          }
        }

        .right-container {
          width: 45%;
          border-radius: 10px;
          background-color: $input-background;
          box-sizing: border-box;

          .head-container {
            width: 80%;
            height: 8%;
            margin: 5% auto;
            display: inline-block;

            .descript-container {
              min-width: 100px;
              float: left;
              text-align: left;
            }

            button {
              width: 30%;
              margin: 0;
              float: right;
            }
          }

          .table-container {
            margin: 0 auto;
            width: 80%;
            height: 75%;
            background-color: white;

            .basic-table {
              width: 100%;

              .all-check {
                width: 20%;
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
              }

              p {
                margin: 0;
                cursor: pointer;
                border-radius: 10px;
                background-color: $mind-blue;
                color: white;
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;

                &:hover {
                  background-color: $mind-blue-dark;
                }

                &:active {
                  transform: translateY(2px);
                }
              }
            }
          }
        }
      }

      .bottom-container {
        display: block;
        margin: 0 auto;
        height: 15vh;
      }
    }

    .file-upload {
      display: none;

      input[type=file] {
        display: none;
      }

      header {
        background: white;
        color: black;
        text-align: center;
      }

      .file_wrap {
        width: 80%;
        height: 300px;
        border: 2px solid #A8A8A8;
        margin: 30px auto;
        padding-top: 10px;
        padding-bottom: 10px;

        img {
          max-width: 20%;
          margin: 10px;
        }
      }

      .button-div {
        text-align: center;

        button {
          display: inline;
        }
      }
    }
  }
}
