@import './_global_main';

.sideMenu {
  .info-a {
    .subMenu {
      display: block;

      .company-info-change {
        display: block;
        text-decoration: none;
        color: $mind-blue;
      }
    }
  }
}

.content {
  .mypage-box {
    position: relative;
    margin: auto;
    width: 500px;

    .input-table {
      margin: auto auto 40px;

      colgroup {
        .name {
          width: 30%;
        }
      }

      .button-div {
        display: inline-flex;
        margin-left: -5px;

        input {
          width: 169px;
          height: 40px;
          box-sizing: border-box;
          outline: 0;
        }

        button {
          padding: 0;
          margin: 5px 0 0;
          border: 0;
          border-radius: 0;
          width: 100px;
          height: 40px;
        }
      }

      input {
        &[readonly=readonly] {
          background: $input-background-readonly;
        }

        &[type=radio] {
          margin: 5px;
          padding: 5px;
          width: 30px;
        }
      }
    }
  }
}
