@import './_global_main';

.sideMenu {
  .info-a {
    .subMenu {
      display: block;

      .info-change {
        display: block;
        text-decoration: none;
        color: $mind-blue;
      }
    }
  }
}

.content {
  .mypage-box {
    position: relative;
    margin-bottom: 100px;

    .company-member,
    .personal-member {
      display: none;
    }

    .input-table {
      margin-bottom: 40px;

      input {
        &[readonly=readonly] {
          background: $input-background-readonly;
        }

        &[type=radio] {
          margin: 5px;
          padding: 5px;
          width: 30px;
        }
      }
    }
  }
}
