@import './_global_main';

.sideMenu {
  .member-a {
    .subMenu {
      display: block;
    }
  }

  .member-lookup {
    display: block;
    text-decoration: none;
    color: $mind-blue;
  }
}

body,
html {
  width: 100%;
  height: 100%;
}

.content {
  .lookup-container {
    height: 100%;


    .lookup-content {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 200px;

      .button-container {
        .delete-member {
          float: right;
          width: auto;
          margin-bottom: 15px;
          padding: 8px;

          .fa-2x {
            font-size: 1.4em;
          }
        }
      }

      #lookup-table {
        width: 100%;

        th {
          width: 180px;
        }
      }
    }
  }
}
