@import './_global_main';

.sideMenu {
  .member-a {
    .subMenu {
      display: block;
    }
  }

  .member-register {
    display: block;
    text-decoration: none;
    color: $mind-blue;
  }
}

body,
html {
  width: 100%;
  height: 100%;
}

.content {
  input[type="number"] {
    text-align: right;
  }

  .check-request {
    p {
      text-align: center;
      margin: 15px 0;
    }

    table {
      th {
        width: 120px;
      }
    }

    button {
      margin-top: 30px;
      margin-bottom: 200px;
    }

    .request-content-company {
      text-align: center;

      .content-container {
        display: inline-flex;

        .add-member {
          display: block;
          margin-right: 100px;
          width: 350px;

          p {
            margin: 15px 0;
          }

          input {
            width: 200px;
          }

          .table-div {
            //height: 400px;
            padding: 37px 0;
            border: 2px solid $mind-blue;
            border-radius: 15px;

            .input-table {
              margin: auto;

              p {
                margin: 15px 0;
              }

              input {
                width: 200px;
              }

              .radio-female,
              .radio-male {
                width: 50px;
              }
            }
          }
        }

        .list-container {
          display: block;

          .top-container {
            text-align: center;
          }

          .member-list {
            width: 250px;
            overflow-y: auto;
            height: 400px;
            border: 2px solid $mind-blue;
            border-radius: 15px;
            margin: 0;

            table {
              border: none;
              margin: 0;
              padding: 0;
              border-spacing: 8px;
            }

            .chk-container,
            td:nth-child(2),
            th {
              cursor: pointer;
            }

            .list-thead {
              th {
                padding: 5px;
                border-radius: 10px;
                border: 1px solid $mind-blue;
                font-size: 14px;

                &:first-child:hover {
                  background-color: #eee;
                }

                &:first-child:active {
                  transform: translateY(2px);
                }

                &:nth-child(2):hover {
                  background-color: #eee;

                  .delete-list {
                    background-color: #eee;
                  }
                }

                &:nth-child(2):active {
                  transform: translateY(2px);
                }

                .delete-list {
                  margin: 0;
                  display: block;
                  padding: 0;
                  background-color: white;

                  i {
                    color: black;
                  }
                }
              }
            }

            .chk-container {
              display: block;
              position: relative;
              cursor: pointer;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              /* Hide the browser's default checkbox */
              input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                width: 0.1px;
                height: 0.1px;
              }
              /* Create a custom checkbox */
              .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #eee;
                border-radius: 10px;
              }
              /* On mouse-over, add a grey background color */
              &:hover input ~ .checkmark {
                background-color: #ccc;
              }
              /* When the checkbox is checked, add a blue background */
              input:checked ~ .checkmark {
                background-color: #2196F3;
              }
              /* Create the checkmark/indicator (hidden when not checked) */
              .checkmark:after {
                content: "";
                position: absolute;
                display: none;
              }
              /* Show the checkmark when checked */
              input:checked ~ .checkmark:after {
                display: block;
              }
              /* Style the checkmark/indicator */
              .checkmark:after {
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-radius: 10px;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
            }

            tbody {
              font-size: 17px;

              .checkmark {
                left: 50% !important;
                margin-left: -12.5px;
                margin-top: -12.5px;
              }

              td {
                border-bottom: 1px solid $input-background;
              }
            }
          }
        }
      }
    }

    .overlay-t {
      background-color: black;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
      opacity: 0.5;
      filter: alpha(opacity = 50);
      position: fixed;
      z-index: 50;
      display: none;
    }

    .layer-popup {
      padding: 10px;
      height: 120px;
      background-color: white;
      position: absolute;
      border-radius: 15px;
      left: 50%;
      margin-left: -250px;
      z-index: 51;
      display: none;

      th {
        padding: 4px;
      }

      td {
        border-top: 2px solid $mind-blue;
        padding: 4px;
      }

      .close {
        display: inline-block;
        cursor: pointer;
        padding: 0 10px;
        border: 1px solid $mind-blue;
        border-radius: 10px;

        &:hover {
          color: blue;
        }

        &:active {
          text-shadow: 0 0.5px 0 white;
          transform: translateY(2px);
        }
      }
    }

    .loading-background {
      display: none;
      background: black;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      opacity: 0.5;
    }

    .loading-div {
      display: none;
      position: absolute;
      opacity: 1 !important;
      left: 50%;
      top: 50%;
      z-index: 3;
      width: 50px;
      height: 50px;
      margin: -25px 0 0 -25px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid $mind-blue;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
        }

        100% {
          -webkit-transform: rotate(360deg);
        }
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
