@import './_global_main';

.sideMenu {
  .info-a {
    .subMenu {
      display: block;

      .info-password {
        display: block;
        text-decoration: none;
        color: $mind-blue;
      }
    }
  }
}

.content {
  .password-div {
      
  }
}
