@import './_global_main';

.sideMenu {
  .mangement-a {
    .subMenu {
      display: block;

      .payhistory-a {
        display: block;
        text-decoration: none;
        color: $mind-blue;
      }
    }
  }
}

.content {
  .payment {
    height: 100%;

    #payment-table {
      width: 90%;
      margin: 30px auto 200px;
    }
  }
}
