@import './_global_main';

.sideMenu {
  .mangement-a {
    .subMenu {
      display: block;

      .payment-pre {
        display: block;
        text-decoration: none;
        color: $mind-blue;
      }
    }
  }
}

.dopay-container {
  height: 100%;

  .do-payment {
    width: 500px;
    margin: 20px auto 200px;
    padding: 30px;
    border: 2px solid $mind-blue;
    border-radius: 15px;

    h2 {
      text-align: left;
    }

    p {
      text-align: left;
      margin: 0 0 30px;
    }

    input {
      height: 20px;
      width: 200px;
    }

    button {
      margin-top: 30px;
    }

    .line-div {
      display: block;
      margin: 0 auto auto;
      width: 500px;
      border-bottom:: 1px solid black;
      margin-bottom: 30px;
    }

    .payment-div {
      input {
        margin: 5px;
        padding: 5px;
        width: 30px;
      }
    }
  }
}
