@import './_global_main';

.sideMenu {
  .result-a {
    display: block;
    text-decoration: none;
    color: $mind-blue;
  }
}

.content {
  text-align: center;

  .result-contaier {
    height: 100%;

    .company-result,
    .personal-result {
      display: none;
    }

    .basic-table {
      width: 90%;
      margin: 30px auto 200px;

      img {
        height: 30px;
      }

      th {
        &.no {
          width: 20%;
        }

        &.date {
          width: 30%;
        }

        &.temper-head {
          width: 20%;
          position: relative;

          #temper-toggle {
            cursor: pointer;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
          }

          .temper-list {
            list-style-type: none;
            background-color: $th-background;
            color: black;
            position: absolute;
            left: calc(50% + 40px);
            top: 50%;
            z-index: 1;
            border: 1px solid black;
            height: 0;
            padding: 0 20px;
            visibility: hidden;
            transition: height 0.25s, padding-top 0.25s, padding-bottom 0.25s, visibility 0.05s ease-out;
            -webkit-transition: height 0.25s, padding-top 0.25s, padding-bottom 0.25s, visibility 0.05s ease-out;
            -moz-transition: height 0.25s, padding-top 0.25s, padding-bottom 0.25s, visibility 0.05s ease-out;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;

            .temper-label {
              cursor: pointer;
            }
          }
        }
      }

      td {
        &:first-child {
          font-weight: bold;
          background-color: $th-background;
        }
      }
    }
  }
}
