@import '_global_main';

.content {
  .main-content {
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;

    .main-slider {
      margin: 10px auto;
      display: block;
      position: relative;

      .bx-wrapper {
        margin: 0 auto;

        div li {
          height: 250px;
          width: 100%;
          position: relative;

          img {
            position: fixed;
            width: 100%;
            height: 250px;
          }
        }
      }

      p {
        font-weight: 600;
        text-align: left;
        font-size: 20px;
      }
    }

    .main-article {
      margin: 50px auto;
      width: 1000px;
    }
  }
}
