@import '../_global';

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

li,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 30px;
  font-size: 15px;
  color: white;
  text-align: center;
}

nav {
  padding: 5px;
}

button {
  text-transform: uppercase;
  outline: 0;
  background: $mind-blue-dark;
  width: 150px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;

  &:hover {
    background: $mind-blue;
  }

  &:active {
    text-shadow: 0 1px 0 white;
    background: $mind-blue-light;
    transform: translateY(2px);
  }
}

.sideMenu {
  display: block;
  height: 100%;
  padding: 15px 15px 19px;
  position: fixed;
  width: 200px;
  background-color: $sideMenu-background;
  color: $letter-grey;
  font-weight: bold;
  left: 0;
  transition: left 0.3s ease-out;
  z-index: 3;

  &.active {
    float: left;
    left: -230px;
    box-shadow: none;
  }

  .mark {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    cursor: pointer;
  }

  a {
    display: block;
    text-decoration: none;
    color: $letter-grey;
  }

  ul {
    line-height: 50px;

    .subMenu {
      display: none;
      margin-top: -10px;
    }

    a:hover {
      color: rgba(255, 255, 255, 0.93);
    }

    a:active {
      text-shadow: 0 0.5px 0 white;
    }

    li {
      list-style: none;
      margin-left: 15px;
      line-height: 40px;
    }
  }

  .logout-button {
    display: block;
    position: absolute;
    bottom: 70px;
    left: 35px;
  }

  .fold-button {
    width: 25px;
    height: 50px;
    border-radius: 0 50px 50px 0;
    background-color: $sideMenu-background;
    transform: none;
    position: absolute;
    bottom: 50%;
    left: 205px;
    padding-left: 3px;
    transition: 0.3s ease-out;

    &.active {
      position: absolute;
      bottom: 50%;
      left: 230px;
    }
  }
}

.content {
  //height: 100%;
  float: left;
  margin: 0 auto;
  width: calc(100% - 230px);
  padding-left: 230px;
  transition: all 0.3s ease-out;
  position: relative;
  min-height: 100%;

  &.active {
    float: left;
    width: 100%;
    padding-left: 0;
  }
}

.line-div {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: solid white 2px;
  width: 100%;
  text-align: center;
}

header {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0;
  padding: 15px 15px 15px 50px;
  text-align: left;
  background: $header-background;
  color: white;
  min-width: 935px;

  .search {
    display: inline-flex;
    float: right;
    width: 40%;

    input {
      &[name=query] {
        width: 70%;
        text-align: right;
        padding-right: 10px;
      }
    }

    button {
      margin: 0;
      width: 100px;
      padding: 10px;
      border-radius: 0;
      background-color: $mind-green;

      &:hover {
        background-color: $mind-green-dark;
      }

      &:active {
        transform: none;
      }
    }
  }
}

.basic-table {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  min-width: 1000px;
  margin: 30px auto;

  thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: white;
    border-bottom: 3px solid #036;
    background: $thead-background;
  }

  th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: $th-background;
  }

  td {
    width: 350px;
    padding: 5px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }
}

.input-table {
  margin: 30px auto;
  text-align: center;
  border-spacing: 10px;

  p {
    font-weight: bold;
  }

  input {
    margin: 5px;
    padding: 10px;
    width: 250px;
  }
}

.popup-layer {
  width: 500px;
  text-align: center;
  padding: 30px;
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 20%;
  left: calc(50% - 140px);
  z-index: 2;
  transition: 0.3s ease-out;
  display: none;

  &.active {
    position: fixed;
    left: calc(50% - 245px);
  }

  table {
    width: 100%;

    thead {
      th {
        border-bottom: 2px solid $mind-blue;

        &:first-child {
          width: 30%;
        }
      }
    }

    th {
      padding: 4px;
    }

    td {
      padding: 4px;
    }
  }

  .close {
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: $mind-blue-dark;
    color: white;

    &:hover {
      background-color: $mind-blue;
    }
  }
}
