@import './_global_admin';

.sideMenu {
  .company-a {
    display: block;
    text-decoration: none;
    color: $mind-blue;
  }
}

.content {
  .basic-table {
    width: 100%;
    margin-top: 0;

    th {
      label {
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
      }

      &.no {
        width: 3%;
      }

      &.companyName {
        width: 17%;
      }

      &.companyRep {
        width: 10%;
      }

      &.businessReg {
        width: 10%;
      }

      &.companyAddress {
        width: 35%;
      }

      &.companyAddressSpec {
        width: 25%;
      }
    }

    tbody {
      cursor: pointer;

      tr {
        &:hover {
          background-color: $th-background;
        }
      }

      td {
        &:first-child {
          font-weight: bold;
          background-color: $th-background;
        }
      }
    }
  }
}
