@import './_global_admin';

.sideMenu {
  .email-a {
    display: block;
    text-decoration: none;
    color: $mind-blue;
  }
}

.content {
  .send-email {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    text-align: center;

    .email-div {
      margin: 0 auto;
      display: block;
      width: 700px;
      border: 2px solid $mind-blue;
      border-radius: 15px;
      padding: 20px;

      .email-container {
        width: 700px;

        table {
          margin-bottom: 15px;

          td:nth-child(odd) {
            width: 40px;
            font-weight: bold;
            font-size: 20px;

            label {
              cursor: pointer;
            }
          }

          td:nth-child(2n) {
            width: 640px;
            padding-left: 20px;

            input {
              width: 100%;
              height: 30px;
            }
          }
        }

        textarea {
          width: 700px;
          height: 300px;
          resize: none;
        }
      }

      .submit-email {
        margin-top: 10px;
      }
    }
  }

  .loading-background {
    display: none;
    background: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0.5;
  }

  .loading-div {
    display: none;
    position: absolute;
    opacity: 1 !important;
    left: 50%;
    top: 50%;
    z-index: 3;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $mind-blue;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
      }
    }
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
