@import './_global_admin';

.content {
  header {
    margin-bottom: 0;
  }

  .input-div {
    width: 300px;
    padding: 50px;
    margin: 100px auto;
    border: 2px solid $sideMenu-background;
    border-radius: 10px;
    background-color: $sideMenu-background;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    input {
      border: 0;
      width: 100%;
      margin-bottom: 10px;
      padding: 15px;
      font-size: 14px;
      box-sizing: border-box;
      background-color: $input-background;
    }

    button {
      margin-top: 50px;
    }
  }
}
