@import './_global_admin';

.sideMenu {
  .user-a {
    display: block;
    text-decoration: none;
    color: $mind-blue;
  }
}

.content {
  .basic-table {
    width: 100%;
    margin-top: 0;

    th {
      label {
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
      }

      &.no {
        width: 3%;
      }

      &.usertype {
        width: 12%;
      }

      &.username {
        width: 20%;
      }

      &.fullname {
        width: 15%;
      }

      &.phone {
        width: 15%;
      }

      &.email {
        width: 25%;
      }

      &.gender {
        width: 10%;
      }
    }

    tbody {
      cursor: pointer;

      tr {
        &:hover {
          background-color: $th-background;
        }
      }

      td {
        &:first-child {
          font-weight: bold;
          background-color: $th-background;
        }
      }
    }
  }
}
