<head>
    <meta charset="UTF-8">
    <title>
        <%=title%>
    </title>
    <link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="SHORTCUT ICON" href="/img/favicon.ico" />
    <style type="text/css"></style>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        var post = function(path, parameters) {
            var form = $('<form></form>');

            form.attr("method", "post");
            form.attr("action", path);

            $.each(parameters, function(key, value) {
                var field = $('<input></input>');

                field.attr("type", "hidden");
                field.attr("name", key);
                field.attr("value", value);

                form.append(field);
            });

            // The form needs to be a part of the document in
            // order for us to be able to submit it.
            $(document.body).append(form);
            form.submit();
        }

        var alertMessage = function() {
            <% if (locals.message) { %>
            <% if (locals.message.length > 0) { %>
            alert('<%= message %>');
            <% } %>
            <% } %>
        }

        alertMessage();
    </script>
</body>
