<!DOCTYPE html>
<html>
<%- include('./global'); %>

	<head>
		<link rel="stylesheet" href="/css/index.css">
	</head>

	<body>
		<section id="section01">
			<div class="backgroundTransition">
				<nav><a class="x-button" onclick="location.href='login';">로그인</a></nav>
				<div class="section01-container">
					<h1>마인드엘리베이션을 소개합니다</h1>
					<p id="introduce-company">마인드엘리베이션은 심리학 + ICT기술을 융복합한 멘탈케어 서비스입니다.</p>
				</div>
				<a class="scroll" href="#section02"><span></span></a>
			</div>
		</section>
		<section id="section02">
			<h1>마음읽는 스케치북</h1>
			<p align="center"><iframe width="700" height="500" src="https://www.youtube.com/embed/7l-ODRjhPlI" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></p>
			<a class="scroll" href="#section03"><span></span></a>
		</section>
		<section id="section03">
			<h1>찾아 오시는 길</h1>
			<div class="section03-container">
				<div id="map"></div>
				<div class="office-inform">
					<div class="location-inform">
						<p id="upper-location">경북대학교IT융합산업빌딩</p>
						<p id="main-location">대구광역시 북구 경대로 17길 47, 아이티융합산업빌딩 12층 1210호</p>
					</div>
					<table class="inform-table">
						<tr>
							<th scope="row"><i class="fa fa-clock-o"></i>&nbsp;이용시간</th>
							<td>평일 09:00 ~ 18:00</td>
							<th scope="row"><i class="fa fa-phone fa"></i>&nbsp;전화번호</th>
							<td>1899-9475<br> 053-585-2028</td>
						</tr>
					</table>
				</div>
			</div>
			<a class="scroll" href="#section01"><span></span></a>
		</section>

		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIgETAWwcsCDKSMosiOWxisUZ2cNO0f6s&callback=initMap">
		</script>
		<script src="/js/backgroundTransition.js"></script>
		<script src="/js/index.js"></script>
	</body>

</html>
