<!DOCTYPE html>
<html>
<%- include('./global'); %>

    <head>
        <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
        <div class="backgroundTransition">
            <nav><a class="x-button" onclick="location.href='index';">돌아가기</a></nav>

            <div class="login-page">
                <div class="form-div">
                    <div class="top-header">
                        <p class="top-text">로그인</p>
                    </div>

                    <div class="login-div">
                        <div class="ib-header">
                            <a class="active" id="personal-top">개인회원</a>
                            <a id="company-top">단체회원</a>
                        </div>

                        <form class="logintry-form">
                            <input type="text" placeholder="아이디" name="username" />
                            <input type="password" placeholder="비밀번호" name="password" />
                            <button class="login-button">로그인</button>
                        </form>

                        <p class="message">등록하지 않으셨나요? <a class="login-div-bottom">계정 등록</a></p>

                        <div class="social-login" style="display: inline-block;">
                            <a onclick="location.href='auth/facebook';">
                                <i class="fa fa-facebook fa-2x"></i>
                            </a>
                            <a onclick="location.href='auth/google';">
                                <i class="fa fa-google-plus fa-2x"></i>
                            </a>
                        </div>
                    </div>

                    <div class="terms-div">
                        <div class="terms-content">
                            <%- include('./lorem-ipsum')%>
                        </div>
                        <button class="terms-agree-button">약관에 동의합니다</button>
                        <p class="message">이미 등록하셨나요? <a class="terms-div-bottom">로그인</a></p>
                    </div>

                    <form action="/personalSignup" method="post" class="personal-register-form" name="personal-register-form">
                        <input type="text" placeholder="아이디" name="username" />
                        <input type="password" placeholder="비밀번호" name="password" />
                        <input type="password" placeholder="비밀번호 재확인" name="password-re" />
                        <div class="birth-div">
                            <label class="birth-label">생년월일</label>
                            <input type="date" name="birthdate" />
                        </div>
                        <input type="text" placeholder="이름" name="fullname" />
                        <input type="text" placeholder="휴대전화" name="phone" />
                        <input type="email" placeholder="이메일 주소" name="email" />
                        <div class="gender-div">
                            <label for="gender-radio" class="gender-label">성별</label>
                            <div class="gender-radio">
                                <input type="radio" value="male" name="gender" /><label for="male" class="male-label">남</label>
                                <input type="radio" value="female" name="gender" /><label for="female" class="female-label">여</label>
                            </div>
                        </div>
                        <div class="auth">
                            <input type="text" placeholder="인증번호" name="auth" />
                            <button>인증번호 받기</button>
                        </div>
                        <button type="submit" />등록</button>
                        <p class="message">로그인 화면으로 <a class="personal-register-bottom">돌아가기</a></p>
                    </form>

                    <form action="/companySignup" method="post" class="company-register-form" name="company-register-form">
                        <input type="text" placeholder="아이디" name="username" />
                        <input type="password" placeholder="비밀번호" name="password" />
                        <input type="password" placeholder="비밀번호 재확인" name="password-re" />
                        <div class="company-name">
                            <input type="text" placeholder="단체명" name="companyName" readonly="readonly" />
                            <button type="button" class="button-popup">조회</button>
                        </div>
                        <input type="text" placeholder="이름" name="fullname" />
                        <input type="text" placeholder="직책" name="position" />
                        <input type="text" placeholder="담당부서" name="department" />
                        <input type="text" placeholder="휴대전화" name="phone" />
                        <input type="email" placeholder="이메일 주소" name="email" />
                        <div class="auth">
                            <input type="text" placeholder="인증번호" name="auth" />
                            <button type="button">인증번호 받기</button>
                        </div>
                        <button type="submit">등록</button>
                        <p class="message">로그인 화면으로 <a class="company-register-bottom">돌아가기</a></p>
                    </form>

                    <div class="complete-div">
                        <p class="complete">등록이 완료되었습니다</p>
                        <p class="message">로그인 화면으로 <a class="complete-div-bottom">돌아가기</a></p>
                    </div>
                </div>
            </div>
            <div class="company-popup">
                <div class="popup-content">
                    <div class="top-header">
                        <p class="top-header">단체 조회</p>
                    </div>
                    <div class="search">
                        <input type="text" placeholder="단체명" name="companyName" />
                        <button class="button-search">조회</button>
                    </div>
                    <div class="companyTable-div">
                        <table class="companyTable">
                            <colgroup>
                                <col class="num" />
                                <col class="name" />
                                <col class="rep" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="cols">No.</th>
                                    <th scope="cols">회사명</th>
                                    <th scope="cols">대표자명</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <label class="label-tablemessage">단체명을 입력하고 조회를 눌러 주세요.</label>
                    <div class="message">
                        <p>단체를 찾으실 수 없나요? <a class="add-company-a">단체 등록</a></p>
                    </div>
                    <div class="button-div">
                        <button class="button-cancel">취소</button>
                    </div>
                </div>
                <div class="add-company">
                    <div class="top-header">
                        <p class="top-header">단체 등록</p>
                    </div>
                    <form class="company-add-form" name="company-add-form">
                        <div class="name-div">
                            <input type="text" placeholder="단체명" name="companyName" />
                            <input type="text" placeholder="대표자명" name="companyRep" />
                        </div>
                        <div class="businessReg-div">
                            <input type="text" placeholder="사업자 등록 번호" name="businessReg" />
                            <button type="button">조회</button>
                        </div>
                        <div class="post-div">
                            <input type="text" placeholder="단체 우편번호" name="companyPost" class="companyPost" readonly="readonly" />
                            <button class="post-search" type="button">우편번호 검색</button>
                        </div>
                        <input type="text" placeholder="단체주소" name="companyAddress" class="companyAddress" readonly="readonly" />
                        <input type="text" placeholder="상세주소" name="companyAddressSpec" class="companyAddressSpec" />
                        <div class="button-div">
                            <button type="button" class="button-cancel">취소</button>
                            <button type="button" class="button-submit">등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
        <script src="/js/backgroundTransition.js"></script>
        <script src="/js/login.js"></script>
    </body>

</html>
