<!DOCTYPE html>
<html>
<%- include('./global'); %>

	<head>
		<link rel="stylesheet" href="/css/notfound.css">
	</head>

	<body>
		<div class="content">
			<header>
				404 NOT FOUND
			</header>
			<div class="notfound-content">
				<p>
					요청하신 페이지를 찾을 수 없습니다.
				</p>
				<a onclick="location.href='main';">돌아가기</a>
			</div>
		</div>
	</body>

</html>
