#image-download {
  display: none;
}

.backgroundTransition {
  overflow: auto;
  background: rgba(25, 25, 25, .5);
  position: relative;
  height: 100%;
  width: 100%;

  .image-bottom,
  .image-top {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    left: 0;
    top: 0;
  }

  .image-bottom {
    z-index: -2;
  }

  .image-top {
    z-index: -1;
    display: none;
  }
}
