@charset 'utf-8';

// colors
$darken-percent: 30%;
$xbutton-background: mix(white, transparent, $darken-percent);
$mind-green: #4CAF50;
$mind-green-dark: mix(black, $mind-green, $darken-percent);
$mind-blue: #4f96dd;
$mind-blue-light: #8fc7ff;
$mind-blue-dark: mix(black, $mind-blue, $darken-percent);
$letter-grey: rgb(144, 144, 144);
$social-google: #DF4A32;
$social-google-dark: mix(black, $social-google, $darken-percent);
$social-facebook: #49639F;
$social-facebook-dark: mix(black, $social-facebook, $darken-percent);
$input-background: rgb(230, 230, 230);
$input-background-readonly: mix(black, $input-background, 20%);
$sideMenu-background: #2a2a2a;
$thead-background: $mind-blue-dark;
$th-background: #f3f6f7;
$header-background: $mind-blue-dark;
$footer-background: #424242;

* {
  font-family: 'Noto Sans KR', sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

a {
  cursor: pointer;
}
