@import '_global';
@import '_backgroundTransition';

::-webkit-scrollbar {
  display: none;
}

h1 {
  text-align: center;
  top: 10px;
  margin: auto;
  font-size: 8vh;
  color: white;
  padding-top: 25px;
  margin-bottom: 25px;
}

a span {
  position: absolute;
  bottom: 2.5vh;
  width: 4vh;
  height: 4vh;
  margin-left: -2vh;
  border-left: 0.3vh solid white;
  border-bottom: 0.3vh solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;

  &:hover {
    border-left: 2px solid #585858;
    border-bottom: 2px solid #585858;
    transition: all 500ms ease;
  }
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  padding-top: 60px;
  text-decoration: none;
  color: white;
}

.x-button {
  float: right;
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin: 3% 3% 10px 10px;
  background: $xbutton-background;
  border-radius: 1vh;
  padding: 1.5vh;
  font-size: 2.5vh;
  transition: all 0.3s ease;

  &:hover {
    background: transparent;
    color: white;
    box-shadow: inset 0 0 0 2px white;
  }
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}

#section01 {
  .section01-container {
    width: 100%;
    position: absolute;
    top: 20vh;

    #introduce-company {
      display: block;
      text-align: center;
      color: white;
      font-size: 3vh;
    }
  }
}

#section02 {
  background-color: #0F5D30;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -250px;
  }

  h1 {
    font-size: 5.5vh;
    padding-top: 30px;
    color: white;
  }
}

#section03 {
  background-color: rgba(64, 28, 27, 0.96);

  h1 {
    font-size: 5.5vh;
    padding-top: 30px;
    color: white;
  }

  .section03-container {
    width: 1060px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -530px;
    margin-top: -250px;

    p {
      margin: 10px 0 0;
    }
  }

  .scroll {
    position: absolute;
    bottom: 15px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    padding-top: 60px;
    text-decoration: none;
    color: white;

    span {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
  }
}

#map {
  height: 370px;
  width: 1060px;
}

.office-inform {
  width: 1060px;
  text-align: center;

  .location-inform {
    text-align: left;
    height: 50px;
    margin-bottom: 12px;

    #upper-location {
      font-size: 13px;
      padding-left: 5px;
      color: white;
    }

    #main-location {
      padding-left: 5px;
      color: white;
    }
  }
}

#way-to-come {
  text-align: center;
  color: white;
}

#office-hour {
  text-align: center;
  color: white;
}

.inform-table {
  text-align: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: white;

  th {
    width: 200px;
    padding: 8px;
    font-weight: bold;
    vertical-align: middle;
  }

  td {
    width: 1060px;
    padding: 8px;
    vertical-align: middle;
  }
}
