@import '_global';
@import '_backgroundTransition';

::-webkit-scrollbar {
  display: block;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: grey;
}

::-webkit-scrollbar-thumb {
  background-color: mix(black, grey, 30%);
}

#title {
  text-align: center;
  color: white;
  margin-top: -5%;
}

button {
  outline: 0;
  background: $mind-green;
  width: 100%;
  border: 0;
  padding: 15px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  -moz-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    background: $mind-green-dark;
  }
}

.x-button {
  float: right;
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin: 3% 3% 10px 10px;
  background: $xbutton-background;
  border-radius: 1vh;
  padding: 1.5vh;
  font-size: 2.5vh;
  transition: all 0.3s ease;

  &:hover {
    background: transparent;
    color: white;
    box-shadow: inset 0 0 0 2px white;
  }
}

.top-header {
  p {
    font-weight: bold;
    font-size: 22px;
    /*border-bottom: 1px solid #eee;*/
  }
}

.message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;

  a {
    color: $mind-green;
    text-decoration: none;
  }
}

.login-page {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .form-div {
    position: relative;
    z-index: 1;
    background: white;
    max-width: 360px;
    margin: 0 auto;
    padding: 30px 45px 45px;
    /*padding-bottom: 100px;*/
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;

    input {
      outline: 0;
      background: $input-background;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;

      &[type=radio] {
        width: 10%;
      }

      &[type=date] {
        width: 70%;
      }

      &[readonly=readonly] {
        background: $input-background-readonly;
      }
    }

    .ib-header {
      display: inline-flex;
      position: relative;
      margin: 5px 5px 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
      text-align: center;
      height: 28px;

      a {
        margin: 0 25px;
        padding: 0 20px;
        text-decoration: none;
        color: $letter-grey;
        font-weight: bold;
        font-size: 13px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
      }

      .active {
        color: $mind-green;
        font-size: 15px;
      }
    }

    .company-register-form,
    .complete-div,
    .personal-register-form,
    .terms-div {
      display: none;
    }

    .login-div {
      .social-login {
        position: relative;
        width: 100%;
        padding-top: 15px;
        cursor: pointer;

        a {
          display: inline-block;
          position: relative;
          color: white;
          height: 40px;
          width: calc(50% - 16px);
          margin: auto 4px;
          padding-top: 10px;

          &:first-child {
            background-color: $social-facebook;

            &:active,
            &:focus,
            &:hover {
              background: $social-facebook-dark;
            }
          }

          &:last-child {
            background-color: $social-google;

            &:active,
            &:focus,
            &:hover {
              background: $social-google-dark;
            }
          }
        }
      }
    }

    .terms-div {
      .terms-content {
        height: 300px;
        overflow: auto;
        overflow-y: overlay;
        margin-bottom: 30px;
        text-align: justify;

        &::-webkit-scrollbar {
          display: none;
        }

        &:hover {
          &::-webkit-scrollbar {
            display: block;
            width: 4px;
          }

          &::-webkit-scrollbar-track {
            background: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background-color: grey;
            -webkit-border-radius: 4px;
          }
        }
      }
    }

    .company-register-form,
    .personal-register-form {
      input {
        margin: 0 0 10px;
        padding: 10px;
      }
    }

    .company-register-button,
    .personal-register-button {
      margin-top: 10px;
    }

    .personal-register-form {
      .auth {
        input {
          float: left;
          width: 60%;
        }

        button {
          width: calc(40% - 15px);
          margin: 0 0 10px 15px;
          padding: 10px 0;
        }
      }

      .birth-div {
        .birth-label {
          margin-top: 10px;
          float: left;
          width: 30%;
        }

        .birth-select {
          float: right;
          width: 60%;

          .input-birth {
            width: calc(70% - 15px);
            margin: 0 0 15px 15px;
          }
        }
      }

      .gender-div {
        margin-top: 5px;
        margin-bottom: 15px;
        height: 20px;

        .gender-label {
          float: left;
          width: 30%;
        }

        .gender-radio {
          float: right;
          width: 60%;
        }
      }
    }

    .company-register-form {
      .auth,
      .business-registration,
      .company-name,
      .post-div {
        input {
          float: left;
          width: 60%;
        }

        button {
          width: calc(40% - 15px);
          margin: 0 0 10px 15px;
          padding: 10px 0;
        }
      }

      input[name=fullname] {
        display: inline;
        float: left;
        margin-right: 10px;
        width: calc(50% - 10px);
      }

      input[name=position] {
        display: inline;
        float: right;
        width: calc(50% - 5px);
      }
    }

    .complete-div {
      .complete {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 30px;
      }
    }
  }
}

.company-popup {
  display: none;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 20px;

  .add-company,
  .popup-content {
    display: block;
    text-align: center;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    padding: 30px;

    .button-div {
      width: 100%;
    }
  }

  .popup-content {
    .search {
      width: 100%;
      margin-bottom: 30px;

      input {
        float: left;
        outline: 0;
        background: $input-background;
        width: 70%;
        border: 0;
        margin-right: 10px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 14px;
      }

      button {
        width: calc(30% - 10px);
        padding: 10px;
      }
    }

    .companyTable-div {
      width: 100%;
      height: 300px;
      z-index: 0;
      background: white;
      overflow: auto;
      overflow-y: overlay;

      .companyTable {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        line-height: 1.5;

        colgroup {
          .num {
            width: 10%;
          }

          .name {
            width: 50%;
          }

          .rep {
            width: 40%;
          }
        }

        tbody {
          tr {
            &:hover {
              background-color: #f5f5f5;
              cursor: pointer;
            }
          }
        }

        th {
          width: 150px;
          padding: 10px;
          font-size: 15px;
          font-weight: normal;
          border-bottom: 1px solid #ccc;
          background: $input-background;
        }

        td {
          width: 350px;
          padding: 5px;
          border-bottom: 1px solid #ccc;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }

      &:hover {
        &::-webkit-scrollbar {
          display: block;
          width: 4px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: grey;
          -webkit-border-radius: 4px;
        }
      }
    }

    .label-tablemessage {
      width: 300px;
      position: absolute;
      top: 50%;
      left: calc(50% - 150px);
      color: $letter-grey;
      z-index: 1;
    }

    .button-div {
      button {
        float: center;
        width: 50%;
      }
    }
  }

  .add-company {
    display: none;

    .company-add-form {
      width: 100%;
      height: 250px;
      margin-top: 50px;
      margin-bottom: 20px;

      input {
        float: left;
        outline: 0;
        background: $input-background;
        width: 100%;
        border: 0;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 14px;
        // 사업자 등록번호 추가되면 readonly 속성 부여하고 background 색상 맞추기
        &[name=companyAddress],
        &[name=companyPost] {
          background: $input-background-readonly;
        }
      }

      button {
        width: calc(30% - 10px);
        padding: 10px;
      }

      .name-div {
        input {
          &:first-child {
            width: 60%;
          }

          &:last-child {
            width: calc(40% - 10px);
            margin: 0 0 10px;
          }
        }
      }

      .businessReg-div,
      .post-div {
        input {
          float: left;
          width: 60%;
        }

        button {
          width: calc(40% - 10px);
          margin: 0 0 10px;
          padding: 10px 0;
        }
      }

      .button-div {
        button {
          float: center;
          width: calc(50% - 10px);
          margin-top: 50px;

          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
