@import './_global';

.content {
  header {
    background: $mind-blue-dark;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 10px 10px 30px;
    color: white;
  }

  .notfound-content {
    margin: 30px auto;
    text-align: center;

    p {
        font-size: 20px;
    }

    a {
      outline: 0;
      text-decoration: none;
      background: $mind-blue-dark;
      width: 150px;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      border-radius: 20px;
      cursor: pointer;
      display: block;
      margin: 30px auto;

      &:hover {
        background: $mind-blue;
      }
    }
  }
}
