<!DOCTYPE html>
<html>
<%- include('./global_admin'); %>

    <head>
        <link rel="stylesheet" href="/css/admin/company.css">
    </head>

    <body>
        <div class="content">
            <header>단체 관리
                <div class="search">
                    <select name="type" class="type-select">
                    <option value="default">
                        ---선택---
                    </option>
                    <option value="companyName">
                        단체명
                    </option>
                    <option value="companyRep">
                        대표
                    </option>
                    <option value="businessReg">
                        사업자 등록번호
                    </option>
                    <option value="companyAddress">
                        단체주소
                    </option>
                    <option value="companyAddressSpec">
                        상세주소
                    </option>
                </select>
                    <input type="text" name="query" class="query-input" />
                    <button class="search-button">검색</button>
                </div>
            </header>
            <table class="basic-table">
                <thead>
                    <tr>
                        <th scope="cols" class="no">
                            No.
                        </th>
                        <th scope="cols" class="companyName">
                            <label class="companyName">단체명</label>
                        </th>
                        <th scope="cols" class="companyRep">
                            <label class="companyRep">대표</label>
                        </th>
                        <th scope="cols" class="businessReg">
                            <label class="businessReg">사업자 등록번호</label>
                        </th>
                        <th scope="cols" class="companyAddress">
                            <label class="companyAddress">단체주소</label>
                        </th>
                        <th scope="cols" class="companyAddressSpec">
                            <label class="companyAddressSpec">상세주소</label>
                        </th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div class="popup-layer">
                <table>
                    <thead>
                        <th>
                            항목
                        </th>
                        <th>
                            값
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                단체명
                            </th>
                            <td class="companyName">

                            </td>
                        </tr>
                        <tr>
                            <th>
                                대표
                            </th>
                            <td class="companyRep">

                            </td>
                        </tr>
                        <tr>
                            <th>
                                사업자 등록번호
                            </th>
                            <td class="businessReg">

                            </td>
                        </tr>
                        <tr>
                            <th>
                                우편번호
                            </th>
                            <td class="companyPost">

                            </td>
                        </tr>
                        <tr>
                            <th>
                                단체주소
                            </th>
                            <td class="companyAddress">

                            </td>
                        </tr>
                        <tr>
                            <th>
                                상세주소
                            </th>
                            <td class="companyAddressSpec">

                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="close">닫기</p>
            </div>
        </div>

        <script src="/js/admin/company.js"></script>
    </body>

</html>
