<!DOCTYPE html>
<html>
<%- include('./global_admin'); %>

    <head>
        <link rel="stylesheet" href="/css/admin/email.css">
    </head>

    <body>
        <div class="content">
            <header>이메일 발송</header>
            <div class="send-email">
                <div class="email-div">
                    <form action="/admin/email" method="post">
                        <div class="email-container">
                            <table>
                                <tr>
                                    <td>
                                        <label for="subject">제목</label>
                                    </td>
                                    <td>
                                        <input type="text" name="subject" id="subject" placeholder="제목">
                                    </td>
                                </tr>
                            </table>
                            <textarea name="article" placeholder="본문작성"></textarea>
                        </div>
                        <button type="submit" class="submit-email">보내기</button>
                    </form>
                </div>
                <div class="loading-background"></div>
                <div class="loading-div"></div>
            </div>
        </div>

        <script src="/js/admin/email.js"></script>
    </body>

</html>
