<%- include('../global'); %>

    <body>
        <div class="sideMenu">
            <nav>
                <img class="mark" src="/img/mark.png">
                <h1 class="displayName">관리자</h1>
                <div class="line-div"></div>
                <ul>
                    <il><a class="user-a"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;사용자 관리</a></il>
                    <il><a class="company-a"><i class="fa fa-group" aria-hidden="true"></i>&nbsp;단체 관리</a></il>
                    <il><a class="email-a"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;이메일 발송</a></il>
                    <il><a class="password-a"><i class="fa fa-unlock-alt" aria-hidden="true"></i>&nbsp;비밀번호 변경</a></il>
                </ul>
            </nav>
            <button type="button" class="logout-button"><i class="fa fa-sign-out fa" aria-hidden="true"></i>&nbsp;로그아웃</button>
            <button type="button" class="fold-button"><i class="fa fa-chevron-left"></i></button>
        </div>

        <script src="/js/admin/global_admin.js"></script>
    </body>
