<!DOCTYPE html>
<html>
<%- include('./global_admin'); %>

    <head>
        <link rel="stylesheet" href="/css/admin/login.css">
    </head>

    <body>
        <div class="content">
            <header>로그인</header>
            <div class="input-div">
                <input type="text" placeholder="아이디" name="username" />
                <input type="password" placeholder="비밀번호" name="password" />
                <button class="login-button">로그인</button>
            </div>
        </div>

        <script src="/js/admin/login.js"></script>
    </body>

</html>
