<!DOCTYPE html>
<html>
<%- include('./global_admin'); %>

    <head>
        <link rel="stylesheet" href="/css/admin/user.css">
    </head>

    <body>
        <div class="content">
            <header>사용자 관리
                <div class="search">
                    <select name="type" class="type-select">
                    <option value="default">
                        ---선택---
                    </option>
                    <option value="usertype">
                        계정 유형
                    </option>
                    <option value="username">
                        아이디
                    </option>
                    <option value="fullname">
                        이름
                    </option>
                    <option value="phone">
                        전화번호
                    </option>
                    <option value="email">
                        이메일
                    </option>
                    <option value="gender">
                        성별
                    </option>
                </select>
                    <input type="text" name="query" class="query-input" />
                    <button class="search-button">검색</button>
                </div>
            </header>
            <table class="basic-table">
                <thead>
                    <tr>
                        <th scope="cols" class="no">
                            No.
                        </th>
                        <th scope="cols" class="usertype">
                            <label class="usertype">계정 유형</label>
                        </th>
                        <th scope="cols" class="username">
                            <label class="username">아이디</label>
                        </th>
                        <th scope="cols" class="fullname">
                            <label class="fullname">이름</label>
                        </th>
                        <th scope="cols" class="phone">
                            <label class="phone">전화번호</label>
                        </th>
                        <th scope="cols" class="email">
                            <label class="email">이메일</label>
                        </th>
                        <th scope="cols" class="gender">
                            <label class="gender">성별</label>
                        </th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div class="popup-layer">
                <table>
                    <thead>
                        <th>
                            항목
                        </th>
                        <th>
                            값
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                계정 유형
                            </th>
                            <td class="usertype">

                            </td>
                        </tr>
                        <tr>
                            <th>
                                아이디
                            </th>
                            <td class="username">

                            </td>
                        </tr>
                        <tr>
                            <th>
                                이름
                            </th>
                            <td class="fullname">

                            </td>
                        </tr>
                        <tr>
                            <th>
                                전화번호
                            </th>
                            <td class="phone">

                            </td>
                        </tr>
                        <tr>
                            <th>
                                이메일
                            </th>
                            <td class="email">

                            </td>
                        </tr>
                        <tr>
                            <th>
                                성별
                            </th>
                            <td class="gender">

                            </td>
                        </tr>
                        <tr>
                            <th>
                                마인드캐시 잔액
                            </th>
                            <td class="chargeAmt">

                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="close">닫기</p>
            </div>
        </div>

        <script src="/js/admin/user.js"></script>
    </body>

</html>
