<!DOCTYPE html>
<html>
<%- include('./global_main'); %>

    <head>
        <link rel="stylesheet" href="/css/main/authcheck.css">
    </head>

    <body>
        <div class="content">
            <header>비밀번호 재확인</header>
            <div class="authcheck-div">
                <form action="/main/authinfo" method="post">
                    <table class="authcheck-table">
                        <tbody>
                            <tr>
                                <td>아이디</td>
                                <td>
                                    <input type="text" name="username" value="<%=user.username%>" readonly="readonly" />
                                </td>
                                <td>비밀번호</td>
                                <td>
                                    <input type="password" name="password" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    회원님의 정보를 안전하게 보호하기 위해 비밀번호를 한번 더 확인합니다.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="authcheck-confirm">확인</button>
                </form>
            </div>
            <%- include('footer'); %>
        </div>

        <script src="/js/main/authcheck.js"></script>
    </body>

</html>
