<!DOCTYPE html>
<html>
<%- include('./global_main'); %>

    <head>
        <link rel="stylesheet" href="/css/main/checkup.css">
    </head>

    <body>
        <div class="content">
            <div class="check-request">
                <header>검사신청</header>
                <div class="request-content-personal">
                    <div class="checkup-explain">
                        <p>합리적인 비용의 간편 심리검사 서비스</p>
                        <p>첨단 ICT 분석 엔진을 통한 그림 심리분석</p>
                        <p>현재의 심리상태 및 사회적 성향 판단</p>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <p>검사 비용 : </p>
                            </td>
                            <td>
                                <p>10,000원</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>신청 후 잔여 캐시 : </p>
                            </td>
                            <td>
                                <p class="leftmoney">
                                    <%-toFormattedMoney(user.chargeAmt - 10000)%>원</p>
                            </td>
                        </tr>
                    </table>
                    <p>*마인드캐시에서 검사 비용만큼 차감됩니다.</p>
                    <button id="request-button-personal" type="button" name="신청하기">신청하기</button>
                </div>
                <div class="request-content-company">
                    <div class="top-container">
                        <div class="left-container">
                            <div class="search-container">
                                <select name="type" class="type-select">
                                <option value="default">
                                    ---선택---
                                </option>
                                <option value="username">
                                    아이디
                                </option>
                                <option value="fullname">
                                    이름
                                </option>
                            </select>
                                <input type="text" name="query" class="query-input" />
                                <button class="search-button">검색</button>
                            </div>
                            <div class="table-container">
                                <table class="basic-table" id="left-table">
                                    <thead>
                                        <th class="all-check">
                                            전체선택
                                        </th>
                                        <th>
                                            이름
                                        </th>
                                        <th>
                                            생년월일
                                        </th>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="middle-container">
                            <button class="append-button">추가</button>
                            <img src="/img/arrow-right.png" />
                        </div>
                        <div class="right-container">
                            <div class="head-container">
                                <div class="descript-container">
                                    <div>
                                        검사인원: <label class="chkupNum">0</label>명
                                    </div>
                                    <div>
                                        검사비용: <label class="chkupAmt">0</label>원
                                    </div>
                                </div>
                                <button class="delete-button">선택 삭제</button>
                            </div>
                            <div class="table-container">
                                <table class="basic-table" id="right-table">
                                    <thead>
                                        <th class="all-check">
                                            전체선택
                                        </th>
                                        <th>
                                            이름
                                        </th>
                                        <th>
                                            생년월일
                                        </th>
                                        <th>
                                            파일 업로드
                                        </th>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-container">
                        <button class="submit-button">검사신청</button>
                    </div>
                </div>
                <div class="file-upload">
                    <header>
                        파일 업로드 <i class="fa fa-cloud-upload"></i>
                    </header>
                    <div class="file_wrap">
                        <input type="file" id="input_imgs" multiple/ accept="image/*">
                        <img id="img" />
                    </div>
                    <div class="button-div">
                        <button class="file-select-button">파일 선택</button>
                        <button class="upload-button">업로드</button>
                    </div>
                </div>
            </div>
            <%- include('footer'); %>
        </div>

        <script type="text/javascript">
            var User = <%- JSON.stringify(user) %>;

            if (User.usertype == 'Company-manager') {
                $(".request-content-company").show();
            } else {
                if (User.chargeAmt < 10000) {
                    $(".leftmoney").css("color", "red");
                } else {
                    $(".leftmoney").css("color", "black");
                }
                $(".request-content-personal").show();
            }

            $("input").keyup(function() {
                var checkExp = $(".checkup-number").val() == '' ? 0 : parseInt($(".checkup-number").val()) * 10000;
                $("#output").html(toFormattedMoney(checkExp) + "원");
                $(".leftmoney").html(toFormattedMoney(User.chargeAmt - checkExp) + "원");

                if (User.chargeAmt - checkExp < 0) {
                    $(".leftmoney").css("color", "red");
                } else {
                    $(".leftmoney").css("color", "black");
                }
            });

            $("input").click(function() {
                var checkExp = $(".checkup-number").val() == '' ? 0 : parseInt($(".checkup-number").val()) * 10000;
                $("#output").html(toFormattedMoney(checkExp) + "원");
                $(".leftmoney").html(toFormattedMoney(User.chargeAmt - checkExp) + "원");

                if (User.chargeAmt < checkExp) {
                    $(".leftmoney").css("color", "red");
                } else {
                    $(".leftmoney").css("color", "black");
                }
            });

            $("#request-button-personal").click(function() {
                if (User.chargeAmt < 10000) {
                    alert('마인드캐시 잔액이 부족합니다.');
                    return;
                }

                $(".request-content-personal").hide();
                $(".file-upload").show();
            });

            $('.upload-button').click(function() {
                if (User.usertype == 'Personal' || User.usertype == 'Google' || User.usertype == 'Facebook') {
                    post('/main/personalCheckup', {});
                } else if (User.usertype == 'Company-manager') {
                    var peopleNum = parseInt($('.checkup-number').val());
                }
            });
        </script>
        <script src="/js/main/checkup.js"></script>
    </body>

</html>
