<!DOCTYPE html>
<html>
<%- include('./global_main'); %>

    <head>
        <link rel="stylesheet" href="/css/main/companyinfo.css">
    </head>

    <body>
        <div class="content">
            <header>단체정보 수정</header>
            <div class="mypage-box">
                <form>
                    <table class="input-table">
                        <colgroup>
                            <col class="name" />
                            <col class="input" />
                        </colgroup>
                        <tr>
                            <td>
                                <p>단체명</p>
                            </td>
                            <td><input type="text" placeholder="단체명" name="companyName" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td>
                                <p>대표자명</p>
                            </td>
                            <td><input type="text" placeholder="대표자명" name="companyRep" /></td>
                        </tr>
                        <tr>
                            <td>
                                <p>사업자 등록번호</p>
                            </td>
                            <td>
                                <div class="button-div">
                                    <input type="text" placeholder="사업자 등록번호" name="businessReg" /><button class="businessReg-button">조회</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>단체 우편번호</p>
                            </td>
                            <td>
                                <div class="button-div">
                                    <input type="text" placeholder="우편번호" name="companyPost" readonly="readonly" /><button class="post-search">우편번호 검색</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>단체주소</p>
                            </td>
                            <td><input type="text" placeholder="단체주소" name="companyAddress" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td>
                                <p>상세주소</p>
                            </td>
                            <td><input type="text" placeholder="상세주소" name="companyAddressSpec" /></td>
                        </tr>
                    </table>
                    <button type="button" class="submit-button">수정</button>
                </form>
            </div>
            <%- include('footer'); %>
        </div>

        <script type="text/javascript">
            var Company = <%- JSON.stringify(company) %>;

            $(document).ready(function() {
                $('.input-table input[name=companyName]').val(Company.companyName);
                $('.input-table input[name=companyRep]').val(Company.companyRep);
                $('.input-table input[name=businessReg]').val(Company.businessReg);
                $('.input-table input[name=companyPost]').val(Company.companyPost);
                $('.input-table input[name=companyAddress]').val(Company.companyAddress);
                $('.input-table input[name=companyAddressSpec]').val(Company.companyAddressSpec);
            });
        </script>
        <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
        <script src="/js/main/companyinfo.js"></script>
    </body>

</html>
