<div class="site-footer">
    <div class="c-account">
        <dl>
            <dt>
                <dd>
                <span class="text">
                    <span class="main-span">예금주</span>
                    <span class="sub-span">(주)마인드엘리베이션</span>
                </span>
                <span class="text">
                    <span class="main-span">입금은행</span>
                    <span class="sub-span">신한은행</span>
                </span>
                <span class="text">
                    <span class="main-span">계좌번호</span>
                    <span class="sub-span">100029270874</span>
                </span>
                </dd>
            </dt>
        </dl>
    </div>
    <div class="c-info">
        <div class="area-info">
            <ul class="list-info">
                <li>(주)마인드엘리베이션</li>
                <li>대표: 이정</li>
                <li>대구광역시 북구 경대로 17길 47, 1210호(복현동 IT융합산업빌딩)</li><br>
                <li>사업자등록번호:504-86-02028 <a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=5048602028&apv_perm_no=" target="_blank">사업자정보 확인</a></li>
                <li>통신판매업 신고번호:2016-대구북구-0803</li>
                <li>전화번호: 1899-9475</li><br>
                <li>이메일: service@mind-el.com</li>
                <li>기타: 벤처기업인증 제20160113844호</li>
            </ul>

        </div>
    </div>
</div>
