<%- include('../global'); %>

    <body>
        <div class="sideMenu">
            <nav>
                <img class="mark" src="/img/mark.png">
                <h1 class="displayName"><label class="pay-type"></label></h1>
                <h1 class="balance"></h1>
                <div class="line-div"></div>
                <ul>
                    <il class="info-a"><a><i class="fa fa-user" aria-hidden="true"></i>&nbsp;내 정보</a>
                        <ul class="subMenu">
                            <li><a class="info-change"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;회원정보 수정</a></li>
                            <li><a class="company-info-change"><i class="fa fa-group" aria-hidden="true"></i>&nbsp;단체정보 수정</a></li>
                            <li><a class="info-password"><i class="fa fa-unlock-alt" aria-hidden="true"></i>&nbsp; 비밀번호 변경</a></li>
                        </ul>
                    </il>
                    <il class="mangement-a"><a><i class="fa fa-database" aria-hidden="true"></i>&nbsp;결제관리</a>
                        <ul class="subMenu">
                            <li><a class="payment-pre"><i class="fa fa-krw" aria-hidden="true"></i>&nbsp;선불충전</a></li>
                            <li><a class="payhistory-a"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;결제내역</a></li>
                        </ul>
                    </il>
                    <il class="member-a"><a><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;구성원 관리</a>
                        <ul class="subMenu">
                            <li><a class="member-register"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;구성원 등록</a></li>
                            <li><a class="member-lookup"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;구성원 조회</a></li>
                        </ul>
                    </il>
                    <il><a class="checkup-a"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;검사신청</a></il>
                    <il><a class="result-a"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;결과확인</a></il>
                </ul>
            </nav>
            <button type="button" class="logout-button"><i class="fa fa-sign-out fa" aria-hidden="true"></i>&nbsp;로그아웃</button>
            <button type="button" class="fold-button"><i class="fa fa-chevron-left"></i></button>
        </div>

        <script type="text/javascript">
            var User = <%- JSON.stringify(user) %>;
            $(document).ready(function() {
                if (User.usertype == 'Company') {
                    $('.pay-type').html(User.fullname + '님 [단체]');
                } else if (User.usertype == 'Company-manager') {
                    $('.pay-type').html(User.fullname + '님 [단체/담당자]');
                } else {
                    $('.pay-type').html(User.fullname + '님 [개인]');
                    <% if (user.chargeAmt) { %>
                    $('.balance').html('마인드캐시: <%-toFormattedMoney(user.chargeAmt)%>원');
                    <% } %>
                }

                if (User.usertype == 'Company-manager') {
                    $('.payment-pre').css('display', 'none');
                } else {
                    $('.payment-post').css('display', 'none');
                    $('.company-info-change').css('display', 'none');
                    $('.member-a').css('display', 'none');
                }
            });


            $(".info-change").click(function() {
                if (User.usertype == 'Google' || User.usertype == 'Facebook') {
                    location.href = "/main/info";
                } else {
                    location.href = "/main/authcheck";
                }
            });

            $(".company-info-change").click(function() {
                location.href = "/main/companyinfo"
            });

            $(".info-password").click(function() {
                location.href = "/main/password";
            });
        </script>
        <script src="/js/main/global_main.js"></script>
    </body>
