<!DOCTYPE html>
<html>
<%- include('./global_main'); %>

    <head>
        <link rel="stylesheet" href="/css/main/info.css">
    </head>

    <body>
        <div class="content">
            <header>회원정보 수정</header>
            <div class="mypage-box">
                <div class="personal-member">
                    <form action="/main/infochange" method="post">
                        <table class="input-table">
                            <tr>
                                <td>
                                    <p>아이디</p>
                                </td>
                                <td><input type="text" placeholder="아이디" name="username" value="<%=user.username%>" readonly="readonly" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>이름</p>
                                </td>
                                <td><input type="text" placeholder="이름" name="fullname" value="<%=user.fullname%>" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>생년월일</p>
                                </td>
                                <td><input type="date" name="birthdate" class="birthdate" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>휴대전화</p>
                                </td>
                                <td><input type="text" placeholder="휴대전화" name="phone" value="<%=user.phone%>" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>이메일 주소</p>
                                </td>
                                <td><input type="email" placeholder="이메일 주소" name="email" value="<%=user.email%>" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>성별</p>
                                </td>
                                <td class="gender-td">
                                    <input type="radio" value="male" name="gender" class="radio-male" /><label for="radio-male" class="male-label">남</label>
                                    <input type="radio" value="female" name="gender" class="radio-female" /><label for="radio-female" class="female-label">여</label></td>
                            </tr>
                        </table>
                        <button type="submit" name="수정">수정</button>
                    </form>
                </div>

                <div class="company-member">
                    <form action="/main/infochange" method="post">
                        <table class="input-table">
                            <tr>
                                <td>
                                    <p>아이디</p>
                                </td>
                                <td><input type="text" placeholder="아이디" name="username" readonly="readonly" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>이름</p>
                                </td>
                                <td><input type="text" placeholder="이름" name="fullname" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>직책</p>
                                </td>
                                <td><input type="text" placeholder="직책" name="position" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>부서명</p>
                                </td>
                                <td><input type="text" placeholder="부서명" name="department" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>휴대전화</p>
                                </td>
                                <td><input type="text" placeholder="휴대전화" name="phone" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>이메일 주소</p>
                                </td>
                                <td><input type="email" placeholder="이메일 주소" name="email" /></td>
                            </tr>
                        </table>
                        <button type="button" name="수정">수정</button>
                    </form>
                </div>
            </div>
            <%- include('footer'); %>
        </div>

        <script type="text/javascript">
            var User = <%- JSON.stringify(user) %>;

            $(document).ready(function() {
                if (User.usertype == 'Company-manager') {
                    $('.company-member input[name=username]').val(User.username);
                    $('.company-member input[name=fullname]').val(User.fullname);
                    $('.company-member input[name=position]').val(User.position);
                    $('.company-member input[name=department]').val(User.department);
                    $('.company-member input[name=phone]').val(User.phone);
                    $('.company-member input[name=email]').val(User.email);

                    $('.company-member').show();
                } else {
                    $('.personal-member').show();

                    if (User.gender == 'male') {
                        $('.gender-td .radio-male').prop('checked', 'checked');
                    } else if (User.gender == 'female') {
                        $('.gender-td .radio-female').prop('checked', 'checked');
                    }

                    var d = new Date(User.birthdate);
                    var bdate = d.getFullYear() + '-';
                    if (d.getMonth() + 1 < 10) bdate += '0';
                    bdate += d.getMonth() + 1 + '-';
                    if (d.getDate() < 10) bdate += '0';
                    bdate += d.getDate();
                    $('.birthdate').prop('value', bdate);
                    // $('.birthdate').prop('value', );
                }
            });
        </script>
    </body>

</html>
