<!DOCTYPE html>
<html>
<%- include('./global_main'); %>

    <head>
        <link rel="stylesheet" href="/css/main/memlookup.css">
    </head>

    <body>
        <div class="content">
            <header>구성원 조회</header>
            <div class="lookup-container">
                <div class="lookup-content">
                    <div class="button-container">
                        <button type="button" class="delete-member"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
                    </div>
                    <table class="basic-table" id="lookup-table">
                        <thead>
                            <tr>
                                <th scope="cols">
                                    <p><label class="chk-container" id="all-check" for="all-check">전체선택</label></p>
                                </th>
                                <th scope="cols">
                                    <p>No.</p>
                                </th>
                                <th scope="cols">
                                    <p>아이디</p>
                                </th>
                                <th scope="cols">
                                    <p>이름</p>
                                </th>
                                <th scope="cols">
                                    <p>생년월일</p>
                                </th>
                                <th scope="cols">
                                    <p>휴대폰전화</p>
                                </th>
                                <th scope="cols">
                                    <p>이메일주소</p>
                                </th>
                                <th scope="cols">
                                    <p>성별</p>
                                </th>
                            </tr>
                        </thead>
                        <% for(var i = 0; i < member.length; i++) { %>
                            <tr>
                                <td>
                                    <label class="chk-container"><input type="checkbox" name = "chn"><span class="checkmark"></span></label>
                                </td>
                                <th scope="row">
                                    <%=i + 1%>
                                </th>
                                <td>
                                    <%-member[i].username%>
                                </td>
                                <td>
                                    <%-member[i].fullname%>
                                </td>
                                <td>
                                    <%-toFormattedBirthDate(member[i].birthdate)%>
                                </td>
                                <td>
                                    <%-member[i].phone%>
                                </td>
                                <td>
                                    <%-member[i].email%>
                                </td>
                                <td>
                                    <%-toFormattedGender(member[i].gender)%>
                                </td>
                            </tr>
                            <% } %>
                    </table>
                </div>
            </div>
            <%- include('footer'); %>
        </div>

        <script>
            $(".delete-member").click(function() {
                var Arr = new Array();

                if ($('input:checkbox[name=chn]').length == 0) {
                    alert("삭제할 항목이 존재하지 않습니다.");
                } else {
                    if ($("input:checkbox[name=chn]:checked").length == 0) {
                        alert('삭제할 항목을 눌러주세요');
                    } else {
                        $('.basic-table tbody input:checkbox[name=chn]').each(function(e) {
                            if (this.checked == true) {
                                var tr = $(this).parent().parent().parent();
                                var td = tr.children();

                                Arr.push($.trim(td.eq(2).text()));

                                $(this).parent().parent().parent().remove();
                            }
                        });
                    }
                }
                $.post('/main/memdelete', {
                    'delmembers': Arr
                }).done(function() {
                    location.href = '/main';
                });
            });
        </script>
        <script src="/js/main/memlookup.js"></script>

    </body>

</html>
