<!DOCTYPE html>
<html>
<%- include('./global_main'); %>

    <head>
        <link rel="stylesheet" href="/css/main/memreg.css">
    </head>

    <body>
        <div class="content">
            <header>구성원 등록</header>
            <div class="check-request">
                <div class="request-content-company">
                    <div class="content-container">
                        <div class="add-member">
                            <div class="top-container">
                                <p>
                                    구성원 정보 입력
                                </p>
                            </div>
                            <div class="table-div">
                                <table class="input-table">
                                    <tr>
                                        <td>
                                            <p>
                                                이름
                                            </p>
                                        </td>
                                        <td><input type="text" placeholder="이름" name="fullname" class="u_fullname" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                생년월일
                                            </p>
                                        </td>
                                        <td><input type="date" name="birthdate" class="birthdate" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                휴대전화
                                            </p>
                                        </td>
                                        <td><input type="text" placeholder="휴대전화" name="phone" class="u_phone" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                이메일주소
                                            </p>
                                        </td>
                                        <td><input type="email" placeholder="이메일 주소" name="email" class="u_email" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                성별
                                            </p>
                                        </td>
                                        <td>
                                            <input type="radio" value="male" name="gender" class="radio-male" /><label for="radio-male" class="male-label">남</label>
                                            <input type="radio" value="female" name="gender" class="radio-female" /><label for="radio-female" class="female-label">여</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <button type="button" class="add-button">추가</button>
                        </div>
                        <div class="list-container">
                            <div class="top-container">
                                <p>
                                    리스트
                                </p>
                            </div>
                            <div class="member-list">
                                <table class="member-table">
                                    <thead class="list-thead">
                                        <th id="all-check">
                                            <label class="chk-container" for="all-check">전체선택</label>
                                        </th>
                                        <th id="delete-button">
                                            <button type="button" class="delete-list"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
                                        </th>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                            <button type="button" class="register-button">등록</button>
                        </div>
                    </div>
                    <div class="overlay-t"></div>
                    <div class="layer-popup">
                        <table>
                            <thead>
                                <th>
                                    이름
                                </th>
                                <th>
                                    생년월일
                                </th>
                                <th>
                                    휴대폰전화
                                </th>
                                <th>
                                    이메일주소
                                </th>
                                <th>
                                    성별
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="td-fullname"></td>
                                    <td id="td-birth"></td>
                                    <td id="td-phone"></td>
                                    <td id="td-email"></td>
                                    <td id="td-gender"></td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="close">닫기</p>
                    </div>
                </div>
                <div class="loading-background"></div>
                <div class="loading-div"></div>
            </div>
            <%- include('footer'); %>
        </div>

        <script type="text/javascript">
            var User = <%- JSON.stringify(user) %>;
            var Arr = new Array();
            var submitted = false;

            $(".add-button").click(function() {
                var personal = {
                    fullname: String,
                    birthdate: Date,
                    phone: String,
                    gender: String,
                    email: String
                };

                personal.fullname = $('.u_fullname').val();
                personal.birthdate = $('.birthdate').val();
                personal.phone = $('.u_phone').val();
                personal.email = $('.u_email').val();
                personal.gender = $("input[name=gender]:checked").val();

                if (!validCheck(personal))
                    return;

                Arr.push(personal);

                var add = '<tr> <td><label class="chk-container"><input type="checkbox"><span class="checkmark"></span></label></td> <td><p>' + personal.fullname + '</p></td></tr>';

                $('.member-table').find('tbody').append(add);
                $('.member-table input').attr('name', 'chn');

                $("input[type=text]").val('');
                $("input[type=password]").val('');
                $("input[type=date]").val('');
                $("input[type=email]").val('');
                $(".radio-male").prop('checked', false);
            });

            $(".register-button").click(function() {
                if (Arr.length == 0) {
                    alert("구성원을 등록해주세요.");
                    return false;
                } else {
                    if (submitted == true) {
                        return;
                    } else {
                        $(".loading-div").show();
                        $(".loading-background").show();
                        $(".register-button").prop('disabled', true);

                        window.onkeydown = function() {
	                        var kcode = event.keyCode;
	                    if(kcode == 8 || kcode == 116) event.returnValue = false;
                        };

                        $.post('/main/memreg', {
                            'members': Arr
                        }).done(function() {
                            location.href = '/main';
                        });
                        submitted = true;
                    }
                }

            });
        </script>
        <script src="/js/main/memreg.js"></script>
    </body>

</html>
