<!DOCTYPE html>
<html>
<%- include('./global_main'); %>

    <head>
        <link rel="stylesheet" href="/css/main/password.css">
    </head>

    <body>
        <div class="content">
            <header>비밀번호 변경</header>
            <div class="password-div">
                <table class="input-table">
                    <tr>
                        <td>
                            <p>
                                현재 비밀번호
                            </p>
                        </td>
                        <td><input type="password" placeholder="현재 비밀번호" name="current-pw" /></td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                신규 비밀번호
                            </p>
                        </td>
                        <td><input type="password" placeholder="신규 비밀번호" name="new-pw" /></td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                신규 비밀번호 재입력
                            </p>
                        </td>
                        <td><input type="password" placeholder="신규 비밀번호 재입력" name="new-pw-re" /></td>
                    </tr>
                </table>
                <button class="submit-button">변경</button>
            </div>
            <%- include('footer'); %>
        </div>

        <script type="text/javascript">
            var User = <%- JSON.stringify(user) %>;

            $('.submit-button').click(function() {
                var current_pw = $('.password-div input[name=current-pw]').val()
                var new_pw = $('.password-div input[name=new-pw]').val();
                var new_pw_re = $('.password-div input[name=new-pw-re]').val();

                if (new_pw != new_pw_re) {
                    alert('비밀번호 재입력이 맞지 않습니다.');
                    return;
                } else if (current_pw == new_pw) {
                    alert('현재 비밀번호와 다른 비밀번호를 입력해 주세요.');
                    return;
                }

                post('/main/password', {
                    'username': User.username,
                    'current_pw': current_pw,
                    'new_pw': new_pw,
                    'new_pw_re': new_pw_re
                });
            });
        </script>
    </body>

</html>
