<!DOCTYPE html>
<html>
<%- include('./global_main'); %>

    <head>
        <link rel="stylesheet" href="/css/main/payhistory.css">
    </head>

    <body>
        <div class="content">
            <header>결제내역</header>
            <div class="payment">
                <div class="payment-content">
                    <table class="basic-table" id="payment-table">
                        <thead>
                            <tr>
                                <th scope="cols">
                                    <p>No.</p>
                                </th>
                                <th scope="cols">
                                    <p>날짜</p>
                                </th>
                                <th scope="cols">
                                    <p>내용</p>
                                </th>
                                <th scope="cols">
                                    <p>입금</p>
                                </th>
                                <th scope="cols">
                                    <p>출금</p>
                                </th>
                                <th scope="cols">
                                    <p>잔액</p>
                                </th>
                            </tr>
                        </thead>
                        <% for(var i = 0; i < user.payment.length; i++) { %>
                            <tr>
                                <th scope="row">
                                    <%=i + 1%>
                                </th>
                                <td>
                                    <%-toFormattedDate(user.payment[i].time)%>
                                </td>
                                <td>
                                    <%-user.payment[i].detail%>
                                </td>
                                <td>
                                    <%-toFormattedMoney(user.payment[i].deposit)%>
                                </td>
                                <td>
                                    <%-toFormattedMoney(user.payment[i].withdraw)%>
                                </td>
                                <td>
                                    <%-toFormattedMoney(user.payment[i].chargeAmt)%>
                                </td>
                            </tr>
                            <% } %>
                    </table>
                </div>
            </div>
            <%- include('footer'); %>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </body>

</html>
