<!DOCTYPE html>
<html>
<%- include('./global_main'); %>

    <head>
        <link rel="stylesheet" href="/css/main/prepayment.css">
    </head>

    <body>
        <div class="content">
            <header>선불충전</header>
            <div class="dopay-container">
                <div class="do-payment">
                    <form action="/main/charge" method="post">
                        <h2>충전금액 입력</h2><br>
                        <div class="line-div"></div>
                        <p>충전 금액 <input type="text" name="chargeAmt" class="amount-money" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)' style='ime-mode:disabled;' /></p>
                        <p>*충전하실 금액을 입력해주세요.</p>
                        <table>
                            <tr>
                                <td>
                                    <p>총 금액 : </p>
                                </td>
                                <td>
                                    <p id="output">0원</p>
                                </td>
                            </tr>
                        </table>
                        <h2>결제수단 선택</h2><br>
                        <div class="line-div"></div>
                        <div class="payment-div">
                            <input type="radio" value="creditCard" name="paymentWays" checked="checked" />신용카드
                            <input type="radio" value="bankTransfer" name="paymentWays" />실시간 계좌이체
                            <input type="radio" value="virtualAccount" name="paymentWays" />가상계좌
                        </div>
                        <button type="submit">충전하기</button>
                    </form>
                </div>
            </div>
            <%- include('footer'); %>
        </div>

        <script src="/js/main/prepayment.js"></script>
    </body>

</html>
