<!DOCTYPE html>
<html>
<%- include('./global_main'); %>

    <head>
        <link rel="stylesheet" href="/css/main/result.css">
    </head>

    <body>
        <div class="content">
            <header>결과확인</header>
            <div class="result-contaier">
                <div class="result-check">
                    <div class="personal-result">
                        <div class="result-content">
                            <table class="basic-table" id="personal-result-table">
                                <thead>
                                    <tr>
                                        <th scope="cols" class="no">
                                            <p>No.</p>
                                        </th>
                                        <th scope="cols" class="date">
                                            <p>신청날짜</p>
                                        </th>
                                        <th scope="cols" class="temper-head">
                                            <p>심리상태 <i id="temper-toggle" class="fa fa-toggle-down"></i></p>
                                            <ul class="temper-list">
                                                <li>
                                                    <label class="temper-label" onclick="onClickTemper('default')">기본</label>
                                                </li>
                                                <li>
                                                    <label class="temper-label" onclick="onClickTemper('happy')">행복</label>
                                                </li>
                                                <li>
                                                    <label class="temper-label" onclick="onClickTemper('sad')">우울</label>
                                                </li>
                                                <li>
                                                    <label class="temper-label" onclick="onClickTemper('annoy')">짜증</label>
                                                </li>
                                                <li>
                                                    <label class="temper-label" onclick="onClickTemper('anxious')">불안</label>
                                                </li>
                                            </ul>
                                        </th>
                                        <th scope="cols" class="result">
                                            <p>결과지 확인</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="personal_tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="company-result">
                        <div class="result-content">
                            <table class="basic-table" id="company-result-table">
                                <thead>
                                    <tr>
                                        <th scope="cols" class="no">
                                            <p>No.</p>
                                        </th>
                                        <th scope="cols" class="name">
                                            <p>이름</p>
                                        </th>
                                        <th scope="cols" class="date">
                                            <p>신청날짜</p>
                                        </th>
                                        <th scope="cols" class="temper-head">
                                            <p>심리상태 <i id="temper-toggle" class="fa fa-toggle-down"></i></p>
                                            <ul class="temper-list">
                                                <li>
                                                    <label class="temper-label" onclick="onClickTemper('default')">기본</label>
                                                </li>
                                                <li>
                                                    <label class="temper-label" onclick="onClickTemper('happy')">행복</label>
                                                </li>
                                                <li>
                                                    <label class="temper-label" onclick="onClickTemper('sad')">우울</label>
                                                </li>
                                                <li>
                                                    <label class="temper-label" onclick="onClickTemper('annoy')">짜증</label>
                                                </li>
                                                <li>
                                                    <label class="temper-label" onclick="onClickTemper('anxious')">불안</label>
                                                </li>
                                            </ul>
                                        </th>
                                        <th scope="cols" class="result">
                                            <p>결과지 확인</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="company_tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('footer'); %>
        </div>

        <script type="text/javascript">
            var User = <%- JSON.stringify(user) %>;
            var Checkup = <%- JSON.stringify(checkup) %>;
            var filteredUser;

            function refresh_table(usrArr) {
                if (User.usertype == 'Company-manager') {
                    var my_tbody = document.getElementById('company_tbody');

                    while (my_tbody.rows.length > 0) {
                        my_tbody.deleteRow(0); // 상단부터 삭제
                    }

                    for (var i = 0; i < usrArr.length; i++) {
                        var row = my_tbody.insertRow(my_tbody.rows.length); // 하단에 추가
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
                        var cell5 = row.insertCell(4);
                        cell1.innerHTML = i + 1;
                        cell2.innerHTML = usrArr[i].fullname;
                        d = new Date(usrArr[i].time);
                        cell3.innerHTML = d.getFullYear() + "-" + ("00" + (d.getMonth() + 1)).slice(-2) + "-" + ("00" + d.getDate()).slice(-2) + " " + (d.getHours() < 12 ? "AM" : "PM") + " " + (d.getHours() < 13 ? ("00" + d.getHours()).slice(-2) : (
                                "00" +
                                (d.getHours() -
                                    12)).slice(-2)) +
                            ":" + ("00" + d.getMinutes()).slice(-2) + ":" + ("00" + d.getSeconds())
                            .slice(-2);
                        if (!usrArr[i].temper) {
                            cell4.innerHTML = '검사 진행중'
                        } else if (usrArr[i].temper == 'happy') {
                            cell4.innerHTML = '<img class="happy" src="/img/happy.png" />'
                        } else if (usrArr[i].temper == 'sad') {
                            cell4.innerHTML = '<img class="sad" src="/img/sad.png" />'
                        } else if (usrArr[i].temper == 'annoy') {
                            cell4.innerHTML = '<img class="annoy" src="/img/annoy.png" />'
                        } else if (usrArr[i].temper == 'anxious') {
                            cell4.innerHTML = '<img class="anxious" src="/img/anxious.png" />'
                        } else {
                            cell4.innerHTML = '검사 진행중'
                        }
                        cell5.innerHTML = '<a href="javascript:void(0);" class="result-popup" onclick="onClickPopup(' + i +
                            ')">결과지 확인</a>';
                    }
                } else {
                    var my_tbody = document.getElementById('personal_tbody');

                    while (my_tbody.rows.length > 0) {
                        my_tbody.deleteRow(0); // 상단부터 삭제
                    }

                    for (var i = 0; i < usrArr.length; i++) {
                        var row = my_tbody.insertRow(my_tbody.rows.length); // 하단에 추가
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
                        cell1.innerHTML = i + 1;
                        d = new Date(usrArr[i].time);
                        cell2.innerHTML = d.getFullYear() + "-" + ("00" + (d.getMonth() + 1)).slice(-2) + "-" + ("00" + d.getDate()).slice(-2) + " " + (d.getHours() < 12 ? "AM" : "PM") + " " + (d.getHours() < 13 ? ("00" + d.getHours()).slice(-2) : (
                                "00" +
                                (d.getHours() -
                                    12)).slice(-2)) +
                            ":" + ("00" + d.getMinutes()).slice(-2) + ":" + ("00" + d.getSeconds())
                            .slice(-2);
                        if (!usrArr[i].temper) {
                            cell3.innerHTML = '검사 진행중'
                        } else if (usrArr[i].temper == 'happy') {
                            cell3.innerHTML = '<img class="happy" src="/img/happy.png" />'
                        } else if (usrArr[i].temper == 'sad') {
                            cell3.innerHTML = '<img class="sad" src="/img/sad.png" />'
                        } else if (usrArr[i].temper == 'annoy') {
                            cell3.innerHTML = '<img class="annoy" src="/img/annoy.png" />'
                        } else if (usrArr[i].temper == 'anxious') {
                            cell3.innerHTML = '<img class="anxious" src="/img/anxious.png" />'
                        } else {
                            cell3.innerHTML = '검사 진행중'
                        }
                        cell4.innerHTML = '<a href="javascript:void(0);" class="result-popup" onclick="onClickPopup(' + i +
                            ')">결과지 확인</a>';
                    }
                }
            }

            var filterUserByTemper = function(temper) {
                if (!Checkup) return;

                var usrArr = [];

                for (var i = 0; i < Checkup.length; i++) {
                    if (temper == 'default' || Checkup[i].temper == temper) usrArr.push(Checkup[i]);
                }

                return usrArr;
            }

            var onClickPopup = function(target) {
                window.open('', "popupView", "width=800, height=600, left=360, top=50");

                var form = $('<form></form>');

                form.attr("method", "post");
                form.attr("action", '/main/popup');
                form.attr("target", "popupView"); //window,open()의 두번째 인수와 같아야 하며 필수다.

                var field = $('<input></input>');

                field.attr("type", "hidden");
                field.attr("name", 'resultPath');
                field.attr("value", filteredUser[target].resultPath);

                form.append(field);

                $(document.body).append(form);
                form.submit();
            }

            var onClickTemper = function(temper) {
                filteredUser = filterUserByTemper(temper);

                refresh_table(filteredUser);
            };

            if (User.usertype == 'Company-manager') {
                $('.company-result').show();
            } else {
                $('.personal-result').show();
            }

            onClickTemper('default');
        </script>
        <script src="/js/main/result.js"></script>
    </body>

</html>
