<!DOCTYPE html>
<html>
<%- include('./global_main'); %>

    <head>
        <link rel="stylesheet" href="/css/main/welcome.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    </head>

    <body>
        <div class="content">
            <header>마인드 엘리베이션</header>
            <div class="main-content">
                <div class="main-slider">
                    <div class="slider">
                        <li><img src="/img/10.jpg" /></li>
                        <li><img src="/img/11.jpg" /></li>
                        <li><img src="/img/12.jpg" /></li>
                    </div>
                </div>
                <div class="main-article">
                    <p>
                        마인드엘리베이션 심리상담센터를 찾아주셔서 진심으로 감사드립니다. 마인드엘리베이션 심리상담센터는 여러분의 아픔을 깊이 있게 이해하고 다시 성장할 수 있도록 돕는 데 목적을 두고 있습니다. 마인드엘리베이션 심리상담센터는 여러분의 작은 이야기에도 귀 기울이고 같이 아파하고 고민하겠습니다.
                    </p>
                </div>
            </div>
            <%- include('footer'); %>
        </div>

        <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
        <script src="/js/main/welcome.js"></script>
    </body>

</html>
